.pokemon{
   
    margin-top: 2rem;
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.12rem solid black;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);

}
.poke-link{
    text-decoration: none;
    color: black;
}
.pokemon-name{
    font-size: larger;
    letter-spacing: 0.5rem;
}

.pokemon-image{
    margin-top: 1rem;
    height: 130px;
    max-height: 80%;
}

.pokemon:hover{
    background-color:beige;
    transform: scale(1.1);
}